@import 'variables';

@mixin bioH2 {
    font-size: 32px;
	letter-spacing: 2.15px;
	font-weight: 200;
	color: white;
	text-align: center;
	padding: 50px 0;
}

.bioBody {
    background-color: map-get($fondos, bg-darkgrey );
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"header"
	"bio"
	"footer";
}


.bio {
    grid-area: bio;
    h2 {
        @include bioH2;
    }
    .contentBio {
        display: flex;
        align-items: center;
        margin: 3% 0;
        .image {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-left: 3%;
        }
        .textBio {
            width: 100%;
            margin: 0 2%;
            p {
                text-align: center;
                color: whitesmoke;
                letter-spacing: 1px;
            }
        }
    }
}

@media (max-width: 415px) {
	
    .bioBody {
        grid-template-rows: 28% auto;
        header {
            height: 100%;
            .containerNav {
                flex-flow: column wrap;
                margin-bottom: 2% 0;
                .nav {
                    &__logo a {
                        margin: 5% auto;
                    }
                    &__list {
                        display: flex;
                        justify-content: center;
                        ul {
                            flex-direction: column;
                            li {
                                margin: 10% 0;
                            }
                        }
                    }
                }
            }
        }
           
	
	
	
		.contentBio {
			flex-direction: column;
			margin: 3% 0 10% 0;
			.image {
				margin: 5% 0;
				img {
					width: 360px;
				}
			}
			.textBio {
				width: 375px;
				margin: 0% 1%;
			}
			
		}
	}
}