@import 'variables';

.head__extend {
    font-size: 32px;
    letter-spacing: 2.15px;
    font-weight: 200;
    color: white;
    text-align: center;
    padding: 3% 0;
    text-shadow: 0px 0px 9px whitesmoke;
}

.musicBody {
    background-color: map-get($fondos, bg-darkgrey);
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"header"
	"music"
	"footer";
}


.sectionMusic {
     grid-area: music;
    h2 {
      @extend .head__extend;
    }
}

.iframe__container {
    display: flex;
    flex-flow: row wrap;
    padding-top: 4%;
    padding-bottom: 5%;
    ul {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        list-style-type: none;
    }
}

@media (max-width: 414px) {
    .musicBody {
        grid-template-rows: 28% auto;
        header {
            height: 100%;
            .containerNav {
                flex-flow: column wrap;
                margin-bottom: 2% 0;
                .nav {
                    &__logo a {
                        margin: 5% auto;
                    }
                    &__list {
                        display: flex;
                        justify-content: center;
                        ul {
                            flex-direction: column;
                            li {
                                margin: 10% 0;
                            }
                        }
                    }
                }
            }
        }
        
        .sectionMusic {
            h2 {
                padding: 10% 0;
            }
            .iframe__container {
                ul {
                    flex-direction: column;
                    li {
                        margin: 15% 5%;
                    }
                    
                }
            }
        }

        
    }       
}
