/* Start General Style */
* {
  margin: 0;
  padding: 0;
  font-family: 'Libre Franklin', sans-serif;
  text-decoration: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

/* NavBar */
header {
  top: 0;
  width: 100%;
  height: 70px;
  position: -webkit-sticky;
  position: sticky;
  background: #1b242e;
  z-index: 999;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.containerNav {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px -6px 20px 0px whitesmoke;
          box-shadow: 0px -6px 20px 0px whitesmoke;
}

.containerNav .nav__logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerNav .nav__logo a {
  color: white;
  font-size: 22px;
  margin-right: 20%;
  font-weight: 600;
  text-shadow: 2px 2px 5px black;
}

.containerNav .nav__list {
  width: 100%;
}

.containerNav .nav__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.containerNav .nav__list ul li a {
  letter-spacing: 1.41px;
  font-size: 18px;
  color: white;
}

.containerNav .nav__list ul li a:hover {
  text-decoration: underline;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Media queries Iphone XR */
@media (max-width: 414px) {
  .indexBody {
    -ms-grid-rows: 28% auto;
        grid-template-rows: 28% auto;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .indexBody header {
    height: 100%;
  }
  .indexBody header .containerNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    margin-bottom: 2% 0;
  }
  .indexBody header .containerNav .nav__logo a {
    margin: 5% auto;
  }
  .indexBody header .containerNav .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .indexBody header .containerNav .nav__list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .indexBody header .containerNav .nav__list ul li {
    margin: 10% 0;
  }
}

/* Index */
.indexBody {
  background-color: #2e2e2e;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "main" "footer";
}

.sideBar {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__nav--home {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.container__nav--home .nav__logo--home {
  width: 28%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4%;
}

.container__nav--home .nav__list--home {
  width: 75%;
  height: 75%;
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.container__nav--home .nav__list--home ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 6rem;
}

.container__nav--home .nav__list--home ul li a {
  letter-spacing: 14px;
  font-size: 20px;
  color: white;
  text-shadow: 2px 1px 0px black;
}

.container__nav--home .nav__list--home ul li a:hover {
  text-decoration: underline;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Media queries Iphone XR */
@media (max-width: 414px) {
  .indexBody {
    -ms-grid-rows: 89% auto;
        grid-template-rows: 89% auto;
  }
  .indexBody .container__nav--home .nav__logo--home {
    width: 63%;
  }
  .indexBody .container__nav--home .nav__list--home {
    width: 37%;
    height: 45%;
    margin-top: 75%;
  }
  .indexBody .container__nav--home .nav__list--home ul li a {
    text-shadow: 3px 3px 1px black;
  }
}

.sectionMain {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: main;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.videoHome {
  width: 100%;
  height: 100%;
  /* display: block; */
}

@media (max-width: 414px) {
  .sectionMain {
    background: url(../img/fondo__home--responsive2.jpeg);
    background-size: cover;
  }
  .sectionMain .videoHome {
    display: none;
  }
}

/* Footer */
.footer {
  background: #000000;
  padding: 3% 0 2% 0;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.footer .redes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3%;
  margin-bottom: 2%;
}

.footer .redes a img {
  -webkit-filter: sepia(1);
          filter: sepia(1);
  width: 30px;
  height: 30px;
}

.footer .redes a img:hover {
  -webkit-filter: saturate(1);
          filter: saturate(1);
}

.footer .copyR {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: whitesmoke;
  margin: 1% 0 1% 0;
}

.footer .copyR h5 {
  font-weight: inherit;
}

.footer .copyR h6 {
  margin-top: 1%;
  font-weight: inherit;
}

.footerLight {
  background: #cdcdcd;
  padding: 3% 0 2% 0;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.footerLight .redes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3%;
  margin-bottom: 2%;
}

.footerLight .redes a img {
  -webkit-filter: sepia(1);
          filter: sepia(1);
  width: 30px;
  height: 30px;
}

.footerLight .redes a img:hover {
  -webkit-filter: saturate(1);
          filter: saturate(1);
}

.footerLight .copyR {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  margin: 1% 0 1% 0;
}

.footerLight .copyR h5 {
  font-weight: inherit;
}

.footerLight .copyR h6 {
  margin-top: 1%;
  font-weight: inherit;
}

/* Music View */
.head__extend, .sectionMusic h2 {
  font-size: 32px;
  letter-spacing: 2.15px;
  font-weight: 200;
  color: white;
  text-align: center;
  padding: 3% 0;
  text-shadow: 0px 0px 9px whitesmoke;
}

.musicBody {
  background-color: #121212;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "header" "music" "footer";
}

.sectionMusic {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: music;
}

.iframe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding-top: 4%;
  padding-bottom: 5%;
}

.iframe__container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
}

@media (max-width: 414px) {
  .musicBody {
    -ms-grid-rows: 28% auto;
        grid-template-rows: 28% auto;
  }
  .musicBody header {
    height: 100%;
  }
  .musicBody header .containerNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    margin-bottom: 2% 0;
  }
  .musicBody header .containerNav .nav__logo a {
    margin: 5% auto;
  }
  .musicBody header .containerNav .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .musicBody header .containerNav .nav__list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .musicBody header .containerNav .nav__list ul li {
    margin: 10% 0;
  }
  .musicBody .sectionMusic h2 {
    padding: 10% 0;
  }
  .musicBody .sectionMusic .iframe__container ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .musicBody .sectionMusic .iframe__container ul li {
    margin: 15% 5%;
  }
}

/* Bio View */
.bioBody {
  background-color: #121212;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "header" "bio" "footer";
}

.bio {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: bio;
}

.bio h2 {
  font-size: 32px;
  letter-spacing: 2.15px;
  font-weight: 200;
  color: white;
  text-align: center;
  padding: 50px 0;
  text-shadow: 0px 0px 9px whitesmoke;
}

.bio .contentBio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3% 0;
}

.bio .contentBio .image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 3%;
}

.bio .contentBio .image img {
  -webkit-filter: sepia(1);
          filter: sepia(1);
}

.bio .contentBio .textBio {
  width: 100%;
  margin: 0 2%;
}

.bio .contentBio .textBio p {
  text-align: center;
  color: whitesmoke;
  letter-spacing: 1px;
}

@media (max-width: 415px) {
  .bioBody {
    -ms-grid-rows: 28% auto;
        grid-template-rows: 28% auto;
  }
  .bioBody header {
    height: 100%;
  }
  .bioBody header .containerNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    margin-bottom: 2% 0;
  }
  .bioBody header .containerNav .nav__logo a {
    margin: 5% auto;
  }
  .bioBody header .containerNav .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bioBody header .containerNav .nav__list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bioBody header .containerNav .nav__list ul li {
    margin: 10% 0;
  }
  .bioBody .contentBio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 3% 0 10% 0;
  }
  .bioBody .contentBio .image {
    margin: 5% 0;
  }
  .bioBody .contentBio .image img {
    width: 360px;
  }
  .bioBody .contentBio .textBio {
    width: 375px;
    margin: 0% 1%;
  }
}

/* Contact View */
.bodyContact {
  background-image: url(../img/club.jpeg);
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "header" "form" "footer";
}

form {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: form;
  margin-bottom: 3%;
}

legend {
  letter-spacing: 2.15px;
  font-weight: bold;
  color: #1b242e;
  text-align: center;
  padding: 3% 0;
  text-shadow: 1px 1px white;
  font-size: 32px;
}

.formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formContainer ul {
  list-style-type: none;
}

.formContainer ul li {
  padding: 10px 0px;
  color: whitesmoke;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: 1px 1px #1b242e;
}

.formContainer ul li .input__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.formContainer ul textarea {
  width: 100%;
}

@media (max-width: 414px) {
  .bodyContact {
    -ms-grid-rows: 28% auto;
        grid-template-rows: 28% auto;
    background-position: 36% 285%;
  }
  .bodyContact header {
    height: 100%;
  }
  .bodyContact header .containerNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    margin-bottom: 2% 0;
  }
  .bodyContact header .containerNav .nav__logo a {
    margin: 5% auto;
  }
  .bodyContact header .containerNav .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bodyContact header .containerNav .nav__list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bodyContact header .containerNav .nav__list ul li {
    margin: 10% 0;
  }
  .bodyContact legend {
    padding: 10% 0;
  }
  .bodyContact .formContainer {
    margin-bottom: 10%;
  }
}

/* Shop View */
.musicBody {
  /* background-color: map-get($fondos, bg-darkgrey); */
  background-color: #121212;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(0,960,484)'%3E%3Cstop offset='0' stop-color='%23121212'/%3E%3Cstop offset='1' stop-color='%231B242E'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "header" "music" "footer";
}

.music__body--light {
  /* background-color: map-get($fondos, bg-darkgrey); */
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(180,960,484)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23AEAEAE'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.09'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "header" "music" "footer";
}

.sectionShop {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: music;
}

.sectionShop h2 {
  font-size: 32px;
  letter-spacing: 2.15px;
  font-weight: 200;
  color: white;
  text-align: center;
  padding: 3% 0;
  text-shadow: 0px 0px 9px whitesmoke;
}

.formPago {
  margin-bottom: 3%;
}

.formLegend {
  letter-spacing: 2.15px;
  font-weight: bold;
  color: white;
  text-align: start;
  padding: 3% 0;
  text-shadow: 2px 2px 3px #4979af;
  font-size: 25px;
}

.pagoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.pagoContainer ul {
  margin-left: 7%;
  list-style-type: none;
}

.pagoContainer ul li {
  padding: 1px 0;
  color: whitesmoke;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: 1px 1px #4979af;
}

.pagoContainer ul li .input__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.pago_ok--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
  color: whitesmoke;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.pago_ok--container .datosContainer {
  width: 45%;
  padding: 2% 3% 7% 2%;
  border-style: double;
  border-radius: 25px;
  border-color: #4979af;
  margin-bottom: 8%;
}

.pago_ok--container .datosContainer h3 {
  margin-bottom: 8%;
  font-size: 25px;
  text-shadow: 3px 3px 2px #1b242e;
}

.pago_ok--container .datosContainer ul {
  width: auto;
}

.pago_ok--container .datosContainer ul li {
  margin-bottom: 5%;
}

.pago_ok--container .datosContainer ul li p {
  font-size: 20px;
  margin: 0 0 2% 15%;
  letter-spacing: 2px;
}

.pago_ok--container .datosContainer .btnComprar {
  text-decoration: none;
  position: absolute;
  border: none;
  font-size: 14px;
  font-family: inherit;
  color: #fff;
  width: 34em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#03a9f4), color-stop(#f441a5), color-stop(#ffeb3b), to(#03a9f4));
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20%;
}

.pago_ok--container .datosContainer .btnComprar:hover {
  -webkit-animation: ani 8s linear infinite;
          animation: ani 8s linear infinite;
  border: none;
}

@-webkit-keyframes ani {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

@keyframes ani {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.btnComprar::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: -webkit-gradient(linear, left top, right top, from(#03a9f4), color-stop(#f441a5), color-stop(#ffeb3b), to(#03a9f4));
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 35px;
  -webkit-transition: 1s;
  transition: 1s;
}

.btnComprar:hover::before {
  -webkit-filter: blur(20px);
          filter: blur(20px);
}

.btnComprar:active {
  background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}

/* Dark Mode */
.darkMode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0.5% 0.5%;
}

.switch {
  /* --moon-mask: ; */
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #303136;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background: #303136;
  -webkit-box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -5px 0 0 #a3dafb;
          box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -5px 0 0 #a3dafb;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #f4f4f5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.5em);
          transform: translateX(1.5em);
  background: linear-gradient(40deg, #663b2a, #cfc47c 70%);
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*# sourceMappingURL=styles.css.map */