/* Start General Style */
* {
  margin: 0;
  padding: 0;
  font-family: 'Libre Franklin', sans-serif;
  text-decoration: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

/* NavBar */
header {
  top: 0;
  width: 100%;
  height: 70px;
  position: -webkit-sticky;
  position: sticky;
  background: #1b242e;
  z-index: 999;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.containerNav {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px -6px 20px 0px whitesmoke;
          box-shadow: 0px -6px 20px 0px whitesmoke;
}

.containerNav .nav__logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerNav .nav__logo a {
  color: white;
  font-size: 20px;
  margin-right: 20%;
}

.containerNav .nav__list {
  width: 100%;
}

.containerNav .nav__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.containerNav .nav__list ul li a {
  letter-spacing: 1.41px;
  font-size: 18px;
  color: white;
}

.containerNav .nav__list ul li a:hover {
  text-decoration: underline;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Media queries Iphone XR */
@media (max-width: 414px) {
  .indexBody {
    -ms-grid-rows: 28% auto;
        grid-template-rows: 28% auto;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .indexBody header {
    height: 100%;
  }
  .indexBody header .containerNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    margin-bottom: 2% 0;
  }
  .indexBody header .containerNav .nav__logo a {
    margin: 5% auto;
  }
  .indexBody header .containerNav .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .indexBody header .containerNav .nav__list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .indexBody header .containerNav .nav__list ul li {
    margin: 10% 0;
  }
}

/* Index */
.indexBody {
  background-color: #2e2e2e;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "main" "footer";
}

.sideBar {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__nav--home {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.container__nav--home .nav__logo--home {
  width: 25%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4%;
}

.container__nav--home .nav__logo--home a {
  color: white;
  font-size: 20px;
  margin-right: 20%;
}

.container__nav--home .nav__list--home {
  width: 75%;
  height: 75%;
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.container__nav--home .nav__list--home ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 6rem;
}

.container__nav--home .nav__list--home ul li a {
  letter-spacing: 14px;
  font-size: 20px;
  color: white;
  text-shadow: 2px 1px 0px black;
}

.container__nav--home .nav__list--home ul li a:hover {
  text-decoration: underline;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Media queries Iphone XR */
@media (max-width: 414px) {
  .indexBody {
    -ms-grid-rows: 28% auto;
        grid-template-rows: 28% auto;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .indexBody header {
    height: 100%;
  }
  .indexBody .containerNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    margin-bottom: 2% 0;
  }
  .indexBody .nav__logo a {
    margin: 5% auto;
  }
  .indexBody .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .indexBody .nav__list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .indexBody .nav__list ul li {
    margin: 10% 0;
  }
}

.sectionMain {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: main;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionMain .videoHome {
  width: 100%;
  height: 100%;
  /* display: block; */
}

/* Footer */
.footer {
  background: #000000;
  padding: 3% 0 2% 0;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.footer .redes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3%;
  margin-bottom: 2%;
}

.footer .redes a img {
  -webkit-filter: sepia(1);
          filter: sepia(1);
  width: 30px;
  height: 30px;
}

.footer .redes a img:hover {
  -webkit-filter: saturate(1);
          filter: saturate(1);
}

.footer .copyR {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: whitesmoke;
  margin: 1% 0 1% 0;
}

.footer .copyR h6 {
  margin-top: 1%;
}

/* Music View */
.head__extend, .sectionMusic h2 {
  font-size: 32px;
  letter-spacing: 2.15px;
  font-weight: 200;
  color: white;
  text-align: center;
  padding: 3% 0;
}

.musicBody {
  background-color: #121212;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "header" "music" "footer";
}

.sectionMusic {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: music;
}

.iframe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding-top: 4%;
  padding-bottom: 5%;
}

.iframe__container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
}

@media (max-width: 414px) {
  .musicBody {
    -ms-grid-rows: 28% auto;
        grid-template-rows: 28% auto;
  }
  .musicBody header {
    height: 100%;
  }
  .musicBody header .containerNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    margin-bottom: 2% 0;
  }
  .musicBody header .containerNav .nav__logo a {
    margin: 5% auto;
  }
  .musicBody header .containerNav .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .musicBody header .containerNav .nav__list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .musicBody header .containerNav .nav__list ul li {
    margin: 10% 0;
  }
  .musicBody .sectionMusic h2 {
    padding: 10% 0;
  }
  .musicBody .sectionMusic .iframe__container ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .musicBody .sectionMusic .iframe__container ul li {
    margin: 15% 5%;
  }
}

/* Bio View */
.bioBody {
  background-color: #121212;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "header" "bio" "footer";
}

.bio {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: bio;
}

.bio h2 {
  font-size: 32px;
  letter-spacing: 2.15px;
  font-weight: 200;
  color: white;
  text-align: center;
  padding: 50px 0;
}

.bio .contentBio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3% 0;
}

.bio .contentBio .image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 3%;
}

.bio .contentBio .textBio {
  width: 100%;
  margin: 0 2%;
}

.bio .contentBio .textBio p {
  text-align: center;
  color: whitesmoke;
  letter-spacing: 1px;
}

@media (max-width: 415px) {
  .bioBody {
    -ms-grid-rows: 28% auto;
        grid-template-rows: 28% auto;
  }
  .bioBody header {
    height: 100%;
  }
  .bioBody header .containerNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    margin-bottom: 2% 0;
  }
  .bioBody header .containerNav .nav__logo a {
    margin: 5% auto;
  }
  .bioBody header .containerNav .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bioBody header .containerNav .nav__list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bioBody header .containerNav .nav__list ul li {
    margin: 10% 0;
  }
  .bioBody .contentBio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 3% 0 10% 0;
  }
  .bioBody .contentBio .image {
    margin: 5% 0;
  }
  .bioBody .contentBio .image img {
    width: 360px;
  }
  .bioBody .contentBio .textBio {
    width: 375px;
    margin: 0% 1%;
  }
}

/* Contact View */
.bodyContact {
  background-image: url(../img/club.jpeg);
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "header" "form" "footer";
}

form {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: form;
  margin-bottom: 3%;
}

legend {
  letter-spacing: 2.15px;
  font-weight: bold;
  color: #1b242e;
  text-align: center;
  padding: 3% 0;
  text-shadow: 1px 1px white;
  font-size: 32px;
}

.formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formContainer ul {
  list-style-type: none;
}

.formContainer ul li {
  padding: 10px 0px;
  color: whitesmoke;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: 1px 1px #1b242e;
}

.formContainer ul li .input__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
}

.formContainer ul textarea {
  width: 100%;
}

@media (max-width: 414px) {
  .bodyContact {
    -ms-grid-rows: 28% auto;
        grid-template-rows: 28% auto;
    background-position: 36% 285%;
  }
  .bodyContact header {
    height: 100%;
  }
  .bodyContact header .containerNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    margin-bottom: 2% 0;
  }
  .bodyContact header .containerNav .nav__logo a {
    margin: 5% auto;
  }
  .bodyContact header .containerNav .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bodyContact header .containerNav .nav__list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bodyContact header .containerNav .nav__list ul li {
    margin: 10% 0;
  }
  .bodyContact legend {
    padding: 10% 0;
  }
  .bodyContact .formContainer {
    margin-bottom: 10%;
  }
}
/*# sourceMappingURL=styles.css.map */